* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}

.App ul {
  list-style: none;
}

.App ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: 330px;
  height: 400px;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 30px;
  margin-top: 20px;
}
